<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %><span class="editBlog"><a href="/blogs/<%=blog._id%>/edit">edit</a></span></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span class="date"><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
    </div>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
        <button class="ui red basic button" type="submit">Delete</button>
    </form>
</div>

<% include partials/footer %>